*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.head {
    width: 70%;
    height: 100px;
    border: #8d8d8d double 4px;
    margin: 5px 5px 30px 5px;
    background-color: rgb(96, 96, 96);
    border-radius: 20px;
    box-shadow: 10px 10px 3px 3px rgba(35, 34, 34, 0.36);
}
.cursus{
    display: inline-block;
    width: 20em;
    height: 500px;
    border: 2px solid rgba(0, 0, 0, 0.47);
    border-radius: 20px;
    margin-left: 1em;
    box-shadow: 15px 15px 3px 3px rgba(35, 34, 34, 0.36);
    background: linear-gradient(#c5c5c5,white);
    position: relative;
    bottom: 3rem;
}
.parcours{
    display: inline-block;
    width: 20em;
    height: 500px;
    border: 2px solid rgba(0, 0, 0, 0.47);
    margin-left: 3em;
    border-radius: 20px;
    box-shadow: 7px 7px 3px 3px rgba(35, 34, 34, 0.36);
    background: linear-gradient(#c5c5c5,white);
    position: relative;
    top: -10px;


}
.compétence{
    width: 20em;
    height: 500px;
    border: 2px solid rgba(0, 0, 0, 0.47);
    margin-left: 47em;
    position: relative;
    top:-545px;
    border-radius: 20px;
    box-shadow: -7px 7px 3px 3px rgba(35, 34, 34, 0.36);
    background: linear-gradient(#c5c5c5,white);
}
.hobbies{
    width: 20em;
    height: 500px;
    border: 2px solid rgba(0, 0, 0, 0.47);
    position: relative;
    top: -1045px;
    left: 70em;
    border-radius: 20px;
    box-shadow: -15px 15px 3px 3px rgba(35, 34, 34, 0.36);
    background: linear-gradient(#c5c5c5,white);
}
.container{
    max-width: 100%;
}
body{
    background-image: url("fond.jpg");
    background-size: cover;
}

.head span, p{
    font-weight: bolder;
    color: white;
    font-family: "Agency FB";
    font-size: x-large;
    padding-left: 1rem;
    position: relative;
    bottom: 4rem;
}
.head, a{
    text-decoration: none;
    color: yellow;
    font-family:"Roboto Light", sans-serif;
}
img{
    width: 86px;
    height: auto;
    position: relative;
    left: 39em;
    top: 1px;
    border-radius: 15px;
}
h2{
    text-align: center;
    font-family: "Segoe Print",sans-serif;
    margin-bottom: 5em;
}
.hobbies p{
    font-family: "Roboto Light", sans-serif;
    font-size: xx-large;
    color: black;
    margin: 1em;
}
.parcours p{
    font-family: "Roboto Light", sans-serif;
    font-size: xx-large;
    color: black;
    margin: 1em;
}
.compétence p {
    font-family: "Roboto Light", sans-serif;
    font-size: xx-large;
    color: black;
    margin: 1em;
}
.cursus p {
    font-family: "Roboto Light", sans-serif;
    font-size: xx-large;
    color: black;
    margin: 1em;
    position: relative;
    right: 1em;
}
.form h1{
    color: black;
   position: relative;
    left: 1em;

}
.form{
    border: 1px solid black;
    width: 30em;
    position: relative;
    bottom: 63em;
    margin: 0 auto;
    box-shadow: 3px 2px 3px black;
    border-radius: 30px;
}
.form button{
   width: 20em;
    height: 3em;
   border-radius: 50px;
    background-color: #6e6c6c;
    color: white;
    margin-left: 3em;
    font-weight: bolder;
    font-size: large;
    margin-bottom: 2em;
    border-color: #ff9a02;
    box-shadow: 2px 2px 2px black;
    cursor:pointer ;
}
.nom {
    margin: 1em;
}
.prenom{
    margin: 1em;
}
.texte{
    height: 5em;
    font-size: large;
}
button:hover{
    border-color: black;
    opacity: 0.6;
    color: orange;
}
